.container {
  @include make-container();
  @include make-container-max-widths();
}

.container-fluid {
  max-width: 1165px;
  @include make-container();
}

.row {
  @include make-row();
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.xs-row-no-gutters {
  @include media-breakpoint-up(sm) {
    margin-right: 0;
    margin-left: 0;
  }
}

.xs-down-no-gutters {
  @include media-breakpoint-down(xs) {
    &.col,
    &[class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.col-no-gutter {
  &.col,
  &[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@include make-grid-columns();
