$breakpoints: (
  xs: 32em,
  sm: 40em,
  md: 52em,
  lg: 64em
);

// Loop Counts
$margin-count: 10; // Generates margin classes in .5rem increments
$padding-count: 10; // Generates padding classes in .5rem increments
$layout-count: 25; // Generates height/width classes in .5rem increments
$space-count: 10;
