.dn { display: none; }
.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; }
.dt { display: table }
.dtc { display: table-cell }
.df { display: flex }

.hide, .nonvisual-indicator {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.invisible { visibility: hidden; }
.visible { visibility: visible; }

@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    @media (min-width: $bp-value) {
      .#{$bp-name}-dn { display: none; }
  	  .#{$bp-name}-di { display: inline; }
  	  .#{$bp-name}-db { display: block; }
  	  .#{$bp-name}-dib { display: inline-block; }
      .#{$bp-name}-dt { display: table; }
      .#{$bp-name}-dtc { display: table-cell; }
      .#{$bp-name}-df { display: flex }
  	  .#{$bp-name}-invisible { visibility: hidden; }
  	  .#{$bp-name}-visible { visibility: visible; }
    }
  }
}
