.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }
.mb-auto { margin-bottom: auto; }
.mt-auto { margin-top: auto; }

@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    @media (min-width: $bp-value) {

      @for $i from 0 through $margin-count {
        .#{$bp-name}-m#{$i} { margin: #{$i * .5}rem; }
        .#{$bp-name}-mt#{$i} { margin-top: #{$i * .5}rem; }
        .#{$bp-name}-mr#{$i} { margin-right: #{$i * .5}rem; }
        .#{$bp-name}-mb#{$i} { margin-bottom: #{$i * .5}rem; }
        .#{$bp-name}-ml#{$i} { margin-left: #{$i * .5}rem; }
        .#{$bp-name}-my#{$i} { margin-bottom: #{$i * .5}rem; margin-top: #{$i * .5}rem; }
        .#{$bp-name}-mx#{$i} { margin-left: #{$i * .5}rem; margin-right: #{$i * .5}rem; }
        .#{$bp-name}-mnt#{$i} { margin-top: #{$i * .5}rem; }
        .#{$bp-name}-mnb#{$i} { margin-bottom: #{$i * -.5}rem; }
        .#{$bp-name}-mnx#{$i} { margin-left: #{$i * -.5}rem; margin-right: #{$i * -.5}rem; }
      }
    }
  }
}
